.hero
  position: relative
  background-image: url("../img/hero/04.jpg")
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  padding: 0 20px
  @media (max-width: 768px)
    padding: 0 10px
  .container
    flex-direction: column
    position: relative
    z-index: 1
    .hero__titles
      display: flex
      flex-direction: column
      margin: 222px 0 203px 0
      position: relative
      @media (max-width: 768px)
        margin: 150px 0 50px 0
      h3
        font-family: Play, sans-serif
        font-style: normal
        font-weight: bold
        font-size: 100px
        line-height: 120px
        color: #FFFFFF
        position: relative
        margin-bottom: 50px
        max-width: 1200px
        padding-right: 100px
        @media (max-width: 1024px)
          font-size: 70px
          line-height: 120%
        @media (max-width: 768px)
          font-size: 40px
          padding-right: 0
          text-align: center
          margin-bottom: 20px
      h1
        font-family: Play, sans-serif
        font-style: normal
        font-weight: bold
        font-size: 160px
        line-height: 115%
        color: #FFFFFF
        margin: 25px 0
        @media (max-width: 768px)
          margin: 13px 0
          font-size: 100px
      h2
        font-family: Arial, sans-serif
        font-style: normal
        font-weight: bold
        font-size: 25px
        line-height: 29px
        color: #FFFFFF
        margin-bottom: 25px
        max-width: 630px
        @media (max-width: 768px)
          font-size: 16px
          line-height: 19px
          margin-bottom: 12px
        @media (max-width: 768px)
          max-width: 380px
      .hero-button
        font-family: Play, sans-serif
        font-style: normal
        font-weight: bold
        font-size: 25px
        line-height: 29px
        color: #FFFFFF
        background: #E15719
        border-radius: 54px
        padding: 35px 45px
        margin-right: auto
        transition-duration: 0.5s
        background: linear-gradient(180deg, #E15719, #E15719, #E15719, #FFC806) 0% 0%
        background-size: 200% 200%
        @media (max-width: 768px)
          font-size: 16px
          line-height: 19px
          padding: 10px 13px
          text-align: center
          margin: 0 auto
        &:hover
          background-position: 100% 100%
        &:active
          background: linear-gradient(180deg, #FF5C12 0%, #A53401 56.25%, #FF5C12 100%)
      .hero__socials
        display: flex
        flex-direction: column
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 0
        @media (max-width: 768px)
          position: static
          flex-direction: row
          transform: translateY(0)
          margin: 12px auto
        &:before
          content: ''
          position: absolute
          top: -65px
          width: 1px
          height: 40px
          transform: translateX(-50%)
          left: 50%
          background: #FFFFFF
          @media (max-width: 768px)
            display: none
        &:after
          content: ''
          position: absolute
          bottom: -65px
          width: 1px
          height: 40px
          transform: translateX(-50%)
          left: 50%
          background: #FFFFFF
          @media (max-width: 768px)
            display: none
        a
          background: linear-gradient(180deg, rgba(3, 129, 204, 0.2) 0%, rgba(225, 242, 255, 0.2) 50.52%, rgba(255, 255, 255, 0.2) 100%)
          border-radius: 50%
          border: 1px solid #FFFFFF
          box-sizing: border-box
          backdrop-filter: blur(20px)
          width: 40px
          height: 40px
          display: flex
          align-items: center
          justify-content: center
          transition-duration: 0.3s
          &:hover
            background-color: #FFFFFF
            path
              fill: #259AEB
          &:active
            background: linear-gradient(180deg, rgba(3, 129, 204, 0.2) 0%, rgba(225, 242, 255, 0.2) 50.52%, rgba(13, 160, 247, 0.2) 100%)
          &:not(:last-child)
            margin-bottom: 25px
            @media (max-width: 768px)
              margin: 0 12px 0 0
          svg
            path
              transition-duration: 0.3s
    .hero__search
      position: relative
      display: none
      min-height: 229px
      @media (max-width: 768px)
        min-height: 500px
      .hero__search-text
        position: absolute
        transform: translateY(100%)
        top: 0
        left: 55px
        z-index: 10
        @media (max-width: 1400px)
          left: 20px
        span
          font-family: Play, sans-serif
          font-style: normal
          font-weight: bold
          font-size: 25px
          line-height: 29px
          color: #FFFFFF
          transition-duration: 0.3s
          @media (max-width: 520px)
            font-size: 18px
          &:hover
            color: #E15719
          &:last-child
            margin-left: 30px

            @media (max-width: 520px)
              margin-left: 15px
        .hero-title_active
          color: #E15719
        .enter-ex
          cursor: pointer
      .hero-background
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: linear-gradient(180deg, rgba(3, 129, 204, 0.4) 0%, rgba(225, 242, 255, 0.4) 57.29%, rgba(248, 252, 255, 0.4) 100%)
        border: 1px solid #FFFFFF
        box-sizing: border-box
        backdrop-filter: blur(20px)
        border-radius: 15px 25px 0 0
      .new_f-container
        margin: 0
        max-width: 100%
        border-radius: 15px 25px 0 0
        padding: 0 55px
        background: none
        @media (max-width: 1400px)
          padding: 0 20px
      .new_f-wrapper-bg-imgs
        display: none
      .new_f-title
        opacity: 0
        height: 90px
        visibility: hidden
      .new_f-ext-body
        width: 90%
      .new_f-form
        .clearfix
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          padding: 0
          @media (max-width: 1220px)
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-gap: 20px
          @media (max-width: 768px)
            grid-template-columns: 1fr
            grid-gap: 15px
            padding: 0
          @media (max-width: 520px)
            grid-template-columns: 1fr
          .new_f-form-submit
            font-family: Play, sans-serif
            font-style: normal
            font-weight: bold
            font-size: 25px
            line-height: 29px
            color: #FFFFFF
            padding: 20px 40px
            background: #E15719
            border-radius: 35px!important
            width: auto
            height: auto
            transition-duration: 0.5s
            background: linear-gradient(180deg, #E15719, #E15719, #E15719, #FFC806) 0% 0%
            background-size: 200% 200%
            @media (max-width: 1300px)
              padding: 10px 20px
              font-size: 18px
            @media (max-width: 1220px)
              width: 100% !important
            &:hover
              background-position: 100% 100%
            &:active
              background: linear-gradient(180deg, #FF5C12 0%, #A53401 56.25%, #FF5C12 100%)
      .cnt
        background-image: url("../img/hero/02.png")
        background-repeat: no-repeat
        background-color: transparent
        background-position: center
        right: 11px
        &:after
          display: none
      .new_input-mask
        span
          font-family: Arial, sans-serif!important
          font-style: normal!important
          font-weight: normal!important
          font-size: 18px!important
          line-height: 21px!important
          color: #033756!important
      input
        font-family: Arial, sans-serif
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 21px
        color: #033756
      .new_f-dropdown-btn
        padding-left: 20px
        font-family: Arial, sans-serif
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 21px
        color: #033756
        &:after
          display: none
        &:before
          content: ''
          position: absolute
          right: 12px
          background-image: url("../img/hero/02.png")
          width: 16px
          height: 16px
          top: 50%
          transform: translateY(-50%)
        span
          font-family: Arial, sans-serif
          font-style: normal
          font-weight: normal
          font-size: 18px
          line-height: 21px
          color: #033756
      .new_f-form-field
        width: 200px
        border: 1px solid #0381CC
        margin: 0!important
        @media (max-width: 1220px)
          width: 100%!important
        &:before
          display: none
      #new_os-to
        padding-left: 12px
        .new_f-dropdown-btn
          &:before
            display: none
      .new_f-search-dates-popup
        display: none
      .new_f-ext-body
        .clearfix
          display: block
      .new_f-ext-btn-container
        width: 100%
        margin-top: 20px
        padding-bottom: 25px
        top: auto
        left: -15px
        text-align: left
        bottom: 10px
        .new_f-ext-btn
          padding-left: 0
          span
            &:before
              display: none
            &:first-child
              font-family: Play, sans-serif
              font-style: normal
              font-weight: normal
              font-size: 18px
              line-height: 21px
              color: #FFFFFF
              text-decoration: none
              position: relative
              &:after
                content: ''
                position: absolute
                bottom: -7px
                width: 100%
                left: 0
                height: 1px
                background: #FFFFFF
            &:last-child
              display: none
      #new_f-dates-container
        padding-left: 12px
        svg
          display: none
        .ui-datepicker-trigger, span
          background: none
          font-family: Arial, sans-serif
          font-style: normal
          font-weight: normal
          font-size: 18px
          line-height: 21px
          color: #033756
        .new_f-search-dates-wrap
          padding-left: 0
          @media (max-width: 1220px)
            padding-right: 0
            grid-gap: 10px
            grid-template-columns: 1fr 1.5fr
        .new_f-datepicker-wrap
          width: auto
      .new_f-dropdown-btn-apply
        margin-left: 50px
      .new_f-form-field
        @media (max-width: 1024px)
          margin: 0!important
      .new_f-form
        @media (max-width: 1024px)
          padding: 0
      .new_f-ext-btn-container
        @media (max-width: 768px)
          top: auto
      .new_f-ext-clear-btn
        right: 0
      .new_f-dates-container
        position: relative
        &:after
          content: ''
          position: absolute
          width: 16px
          height: 15px
          top: 50%
          right: 11px
          transform: translateY(-50%)
          background: url("../img/hero/02.png") #FFFFFF
    .hero__ex
      position: relative
      display: none
      .hero__search-text
        position: absolute
        transform: translateY(100%)
        top: 0
        left: 55px
        z-index: 1
        @media (max-width: 1400px)
          left: 20px
        span
          font-family: Play, sans-serif
          font-style: normal
          font-weight: bold
          font-size: 25px
          line-height: 29px
          color: #FFFFFF
          transition-duration: 0.3s
          @media (max-width: 520px)
            font-size: 18px
          &:hover
            color: #E15719
          &:last-child
            margin-left: 30px
            cursor: pointer
            @media (max-width: 520px)
              margin-left: 15px
        .hero-title_active
          color: #E15719
        .enter-buss
          cursor: pointer
      .exs_r-message
        margin-top: 10px
    .hero__form_active
      display: block
    .exs_container
      max-width: 100%
      padding: 0 0 0 0
      &:not(:first-child)
        display: none
      .exs_search-container
        background: linear-gradient(180deg, rgba(3, 129, 204, 0.4) 0%, rgba(225, 242, 255, 0.4) 57.29%, rgba(248, 252, 255, 0.4) 100%)
        border: 1px solid #FFFFFF
        backdrop-filter: blur(20px)
        border-radius: 15px 25px 0 0
        form
          background: none
          padding: 0 320px 0 55px
          @media (max-width: 1400px)
            padding: 0 275px 0 20px
          @media (max-width: 1200px)
            padding-bottom: 50px
          @media (max-width: 1007px)
            padding-right: 30px
          @media (max-width: 768px)
            padding: 0 15px 20px 15px
          .clearfix
            display: grid
            grid-template-columns: 1fr 1fr 1fr 1fr
            max-width: 1045px
            grid-gap: 0 15px
            @media (max-width: 1200px)
              grid-template-columns: 1fr 1fr
              grid-gap: 30px
            @media (max-width: 1007px)
              grid-gap: 15px
            @media (max-width: 768px)
              grid-template-columns: 1fr
            .ui-autocomplete-input
              font-family: Arial, sans-serif
              font-style: normal
              font-weight: normal
              font-size: 18px!important
              line-height: 21px!important
              color: #033756!important
              height: 45px!important
              border: 1px solid #0381CC!important
            select
              font-family: Arial, sans-serif
              font-style: normal
              font-weight: normal
              font-size: 18px!important
              line-height: 21px!important
              color: #033756!important
              min-height: 45px!important
              height: 45px!important
            .exs_autocomplete-toggle_element
              background: url("../img/ex/01.png") no-repeat
              background-size: contain
              top: 15px
              right: 4px
              width: 16px
              height: 16px
            .exs_search-label
              border: 1px solid #0381CC
              &:after
                background: url("../img/ex/01.png") no-repeat #FFFFFF
                background-size: contain
                top: 15px
                right: 4px
                width: 16px
                height: 16px
            select
              padding-left: 20px!important

            .exs_search-label
              height: 45px
          .exs_search-to
            width: 100%
            @media (max-width: 1007px)
              width: 100%!important
              padding-right: 0!important
            input
              width: 100%!important
          .exs_search-duration
            width: 100%
            @media (max-width: 1007px)
              width: 100% !important
              padding-right: 0!important
          .exs_search-type
            width: 100%
            @media (max-width: 1007px)
              width: 100%!important
              padding-right: 0!important
              margin-top: 0
          .exs_search-dates-wrap
            height: 45px
            display: flex
            align-items: center
            background: #FFFFFF
            width: 100%
            border: 1px solid #0381CC
            position: relative
            padding-right: 20px
            &:after
              content: ''
              position: absolute
              top: 50%
              transform: translateY(-50%)
              right: 4px
              height: 16px
              width: 16px
              background: url("../img/ex/01.png")
            .exs_datepicker-wrap
              &:before
                background: #033756

              input
                background: none!important
                font-family: Arial, sans-serif
                font-style: normal
                font-weight: normal
                font-size: 18px!important
                line-height: 21px!important
                color: #033756!important
          .exs_search-title
            font-family: Play, sans-serif
            font-style: normal
            font-weight: bold
            font-size: 25px
            line-height: 29px
            color: #FFFFFF
            background: none
            margin-top: 42px
            height: auto
            margin-bottom: 20px
            opacity: 0
            visibility: hidden
            @media (max-width: 1007px)
              margin: 20px 0 20px 0
            span
              display: none
          .exs_search-submit
            padding: 20px 40px!important
            width: auto!important
            height: auto!important
            font-family: Play, sans-serif!important
            font-style: normal!important
            font-weight: bold!important
            font-size: 25px!important
            line-height: 115%!important
            color: #FFFFFF!important
            border: none!important
            top: 35px!important
            border-radius: 35px!important
            transition-duration: 0.5s
            right: 75px!important
            background: linear-gradient(180deg, #E15719, #E15719, #E15719, #FFC806) 0% 0%
            background-size: 200% 200%
            @media (max-width: 1400px)
              right: 20px!important
            @media (max-width: 768px)
              font-size: 18px!important
              padding: 10px 20px!important
              margin-top: 0!important
            &:hover
              background-position: 100% 100%
            &:active
              background: linear-gradient(180deg, #FF5C12 0%, #A53401 56.25%, #FF5C12 100%)
          .exs_search-dates-popup
            display: none
        .exs_search-extended
          display: none
        .exs_und
          font-family: Play, sans-serif
          font-style: normal
          font-weight: normal
          font-size: 18px
          line-height: 21px
          color: #FFFFFF
          border-bottom: none
          white-space: nowrap
        .exs_add-dir-btn
          border-bottom: 1px solid #FFFFFF
          padding-bottom: 7px
          margin-top: 20px
          margin-bottom: 42px
          @media (max-width: 1200px)
            margin-bottom: 0
            margin-top: 10px!important
        .ui-autocomplete-input
          padding-left: 20px!important
        .exs_search-dates, .exs_search-duration, .exs_search-type
          margin-left: 0
          @media (max-width: 1007px)
            width: 100% !important
            padding-left: 0!important
            margin: 0!important
        .exs_add-dir-btn
          width: 250px
          @media (max-width: 1200px)
            margin-top: 30px
        .exs_dir-list
          border: none
          padding: 0 5px 0
        .dropdown-menu
          @media (max-width: 768px)
            left: 0
    .exs_r-container
      max-width: 100%
.os-datepicker-custom-to
  margin-top: 20px!important
  input
    margin-right: 10px
.os-datepicker-custom-from
  margin-top: 20px!important
  input
    margin-right: 10px

.hero-country
  background-image: url("../img/hero/03.png")
  .container
    .hero__titles
      margin-bottom: 155px
      @media (max-width: 768px)
        margin-bottom: 50px
      h3
        display: none
      a
        display: none
      h1
        text-align: center
        margin: 0 0 15px 0
      h2
        text-align: center
        max-width: 90%
        margin-left: auto
        margin-right: auto
      .hero__socials
        @media (max-width: 768px)
          margin: 50px auto 0 auto